/Entrenamiento/nbproject/private/
/Entrenamiento/build/
/01/Clase3/nbproject/private/
/01/Clase3/build/
/01/RetoGame/nbproject/private/
/01/RetoGame/build/
/Rangoli/nbproject/private/
/Rangoli/build/
/practicas/nbproject/private/
/practicas/build/
/Usuario/nbproject/private/
/Usuario/build/
/MostrarNombre/nbproject/private/
/MostrarNombre/build/
/Games/nbproject/private/
/Games/build/
/MostrarNombre/dist/
/Games/dist/
/GameDos/Spinning_Top/nbproject/private/
/GameDos/Spinning_Top/build/
/GameDos/Spinning_Top/dist/