/Entrenamiento/nbproject/private/
/Entrenamiento/build/
/01/Clase3/nbproject/private/
/01/Clase3/build/
/01/RetoGame/nbproject/private/
/01/RetoGame/build/
/Rangoli/nbproject/private/
/Rangoli/build/
/practicas/nbproject/private/
/practicas/build/